<img src="code_brainers_logo.png" alt="logo" width="400"/>

# 004 Python - typy danych
_Kamil Bartocha_

## Podstawowe typy danych
* W języku Python możemy używać wielu typów danych na które będą wskazywały nasze zmienne

### Wyświetlanie w Pythonie
* Do wyświetlania napisów, oraz zawartości zmiennych, stałych i innych obiektów w języku Python służy funkcja `print(x)`, gdzie `x` jest rzeczą, która zostanie wyświetlona
* W Pythonie funkcje są zapisywane podobnie jak w matematyce, czyli `f(x)`, gdzie `f` to nazwa funkcji a `x` to argumenty przekazywane do funkcji
* Jedną z dostępnych funkcji jest `type(obj)`, która zwraca informacje o typie zmiennej lub obiektu `obj`

### Typ numeryczny
* Python rozróżnia typy liczb:
  * Całkowite np. `0`, `1`, `5`, `2137670`, `-45600`, …
  * Rzeczywiste(w tym zmiennoprzecinkowe) np. `0.5`, `1/3`, `1.67e-10`, `6.023e+23`, …
  * Zespolone
* Można konwertować między sobą również zmienne zawierające liczby całkowite na liczby rzeczywiste:
  * `float()` oraz na odwrót
  * `int()`
* Typ danych na który wskazuje dana zmienna możemy sprawdzić poleceniem (funkcją) `type()`

In [4]:
i = 2
print(i)
print(type(i))

2
<class 'int'>

In [4]:
f = 2.71828
print(f)
print(type(f))

2.71828
<class 'float'>

In [5]:
c = 0.5 + 1j
print(c)
print(type(c))
print(c.imag)
print(c.real)

(0.5+1j)
<class 'complex'>
1.0
0.5

#### Konwersja int na float i float na int

In [1]:
i = 2
print(i)
print(type(i))

i = float(i)
print(i)
print(type(i))

2
<class 'int'>
2.0
<class 'float'>

In [5]:
i = 2.342
print(i)
i_int = int(i)
print(i_int)

i = 2.99
print(i)
i_int = int(i)
print(i_int)

# x = 'a'
# print(float(x)) #nie wolno!
x = 3
print(str(x) + "ala")

2.342
2
2.99
2
3ala

In [8]:
wiek = input("podaj wiek")
wiek_konwersja = int(wiek)
rok_ur = 2025 - wiek_konwersja  #2025 - 44(int)
print(rok_ur)
print(type(rok_ur))

1980
<class 'int'>

### Typ logiczny
* Zawiera wartości logiczne **_prawda_** i **_fałsz_**

In [15]:
x = True
y = False

a = 2 < 1
print(a)
print(type(a))

False
<class 'bool'>

In [16]:
b = 2.71828 > 3
print(b)
print(type(b))

False
<class 'bool'>

### Typ znakowy
* Zawiera pojedyncze znaki lub ciągi znaków

In [14]:
znak = "A"
print(znak)
print(type(znak))

A
<class 'str'>

In [11]:
napis = "Ala ma kota"
print(napis)
print(type(napis))

Ala ma kota
<class 'str'>

### Wycinanie, przypomnienie

* Również w napisach można sprawdzić zawartość każdego elementu
  * `a[start:stop]  # elementy od start do stop-1`
  * `a[start:]      # elementy od start do reszty tablicy`
  * `a[:stop]       # elementy od początku do stop-1`
  * `a[:]           # kopia całej tablicy`
* Istnieje również wartość kroku (`step`), której można użyć z dowolnym z powyższych:
  * `a[start:stop:step]  # elementy od start do stop-1, co step`

In [ ]:

lista3 = [1, 2, 3]
lista4 = lista3

print(f"lista3 {lista3}")
print(f"lista4 {lista4}")

lista3.append(5)

print(f"lista3 {lista3}")
print(f"lista4 {lista4}")

lista3 [1, 2, 3]
lista4 [1, 2, 3]
lista3 [1, 2, 3, 5]
lista4 [1, 2, 3, 5]

In [17]:

lista3 = [1, 2, 3]
lista4 = lista3[:]

print(f"lista3 {lista3}")
print(f"lista4 {lista4}")

lista3.append(5)

print(f"lista3 {lista3}")
print(f"lista4 {lista4}")

lista3 [1, 2, 3]
lista4 [1, 2, 3]
lista3 [1, 2, 3, 5]
lista4 [1, 2, 3]

In [21]:
lista1 = [1, 2, 3, 4, 5, 6, 7, 8]
wycinek = lista1[1:6:2]
print(wycinek)

wycinek2 = lista1[::2]
print(wycinek2)

[2, 4, 6]
[1, 3, 5, 7]

In [16]:
napis = "Ala ma kota"
print(napis[0])
print(type(napis))
print(type(napis[0]))

A
<class 'str'>
<class 'str'>

In [17]:
print(napis[0:3])

Ala

In [ ]:
print(napis[::2]) # Ala ma kota => Aam oa
print(type(napis[::2]))
liczby = [1, 2, 3, 4, 5, 6, 7, 8]
print(liczby[1::2])

Aam oa
<class 'str'>
[2, 4, 6, 8]

* Napisów, w przeciwieństwie do list, nie można zmieniać

In [15]:
napis = "Ala ma kota"
napis[-1] = "y"

TypeError: 'str' object does not support item assignment

* Można jednak zapisać do zmiennej znakowej nową treść

In [24]:
napis = "Ala ma kota"

In [25]:
napis = "Ala ma koty"

In [26]:
napis = "Ala będzie miała kotki dwa"

In [19]:
zmienna = 127
print(zmienna)
print(type(zmienna))

127
<class 'int'>

In [20]:
zmienna = "127"
print(zmienna)
print(type(zmienna))

127
<class 'str'>

#### Nie można dodawać do siebie różnych typów zmiennych

In [21]:
napis = "Ala ma kota a kot ma psa"
liczba_calkowita = 2
napis + liczba_calkowita

TypeError: can only concatenate str (not "int") to str

* By je dodać, trzeba skonwertować je do wspólnego typu do czego służą wbudowane funkcje `str()`, `int()`, `float()`, `complex()`

In [22]:
napis = "Ala ma kota a kot ma psa "
liczba_calkowita = 2
print(napis + str(liczba_calkowita)) # napis + "2"

Ala ma kota a kot ma psa 2

#### Znalezienie środkowego elementu tekstu - tekst jest nieparzysty, wskazówka do ćwiczeń:

In [23]:
tekst = "alamakota"
len_t = len(tekst)
print(len_t)

idx = len_t // 2
print(idx)

print(tekst[idx])

9
4
a

#### Ćwicznenie nr 1:

* Biorąc pod uwagę ciąg o nieparzystej długości większej niż 7, zwróć łańcuch złożony z trzech środkowych znaków danego ciągu:
  * Dane wejściowe:\
    `str1 = "Datatypes"`
  * Oczekiwany wynik:\
    `aty`

In [17]:
tekst = "ALLA"
lt = len(tekst) // 2
if len(tekst) % 2 == 0:  #parzysty
    print(tekst[lt-1:lt+1])    # "ALLA"       -> LL
else:
    print(tekst[lt-1:lt+2])    #  "datatypes" -> "aty"

LL

In [18]:
str1 = "Datatypes"
length = len(str1)
middle = length // 2
result = str1[middle - 1 : middle + 2]
print(result)

aty

#### Ćwiczenie nr 2:

* Biorąc pod uwagę 2 ciągi, `s1` i `s2`, utwórz nowy ciąg, dodając `s2` w środku `s1`
* Dane:
  * `s1 = "FullStack"`
  * `s2 = "Python”`
* Oczekiwany wynik:\
  `FullPythonStack`

In [ ]:
s1 = "FullStack"
s2 = "Python"

middle_s1 = len(s1) // 2
result = s1[:middle_s1] + s2 + s1[middle_s1:]
print(result)

FullPythonStack

In [23]:
s1 = "FullStack"
s2 = "Python"

print(s1[:len(s1) // 2] + s2 + s1[len(s1) // 2:])

FullPythonStack

#### Ćwiczenie nr 3:

* Biorąc pod uwagę 2 ciągi, `s1` i `s2` zwróć nowy ciąg złożony z pierwszego, środkowego i ostatniego znaku każdego ciągu wejściowego
* Dane:
  * `s1 = "America"`
  * `s2 = "Japan"`
* Oczekiwany wynik:\
`AJrpan`

#### Ćwiczenie nr 4*:

* Odwróć podany ciąg
* Dane:\
`str1 = "Python"`
* Oczekiwany wynik:\
`nohtyP`

In [27]:
str = 'Python'
print(str[-1:-7:-1])
print(str[::-1])
reversed_str = str[::-1]
print(reversed_str)

nohtyP
nohtyP
nohtyP

## Złożone typy danych

### Lista

* Bardzo często najlepiej mieć zmienną zawierającą więcej więcej niż jedną wartość
* Do takich zmiennych należy lista, która jest uporządkowanym zbiorem obiektów, które mogą mieć różny typ

In [18]:
lista = [1, 2, 3, 4, -5, 6, -10]
print(lista)
print(type(lista))

[1, 2, 3, 4, -5, 6, -10]
<class 'list'>

In [25]:
liczby = [0.1, 0.2, 0.3, 4.5, -7.3, 6.87, 10]
print(liczby)
print(type(liczby))

print(type(liczby[1]))
print(type(liczby[-1]))

[0.1, 0.2, 0.3, 4.5, -7.3, 6.87, 10]
<class 'list'>
<class 'float'>
<class 'int'>

In [26]:
imiona = ['Ala', 'Zygmunt', "Alojzy", "Bogusława"]
print(imiona)
print(type(imiona))
print(type(imiona[1]))

['Ala', 'Zygmunt', 'Alojzy', 'Bogusława']
<class 'list'>
<class 'str'>

#### Wycinanie kawałków list

* Można również wykrajać kawałki listy stosując notację `lista[start:stop:krok]`

In [27]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14, True]
print(lista[1:6])
print(lista[2:6:2])
print(lista[:4])
print(lista[-2:])

['Berta', 3, 4, -5, 'kot']
[3, -5]
[1, 'Berta', 3, 4]
[3.14, True]

In [28]:
lista_rev = lista[::-1]
print(lista_rev)

[True, 3.14, -10.75, 'kot', -5, 4, 3, 'Berta', 1]

#### Modyfikacja list

* Listy można modyfikować (zmieniać poszczególne elementy)

In [28]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14]
print(lista)
lista = [2, 3, 5, 7, 9]
lista[2:4] = ["pies", "a", "2"] ## *
print(lista)

[1, 'Berta', 3, 4, -5, 'kot', -10.75, 3.14]
[2, 3, 'pies', 'a', '2', 9]

#### Dodawanie kolejnych elementów na końcu

* W szczególności do list można dodawać kolejne elementy na końcu

In [ ]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14]
lista.append("zebra")
print(lista)

[1, 'Berta', 3, 4, -5, 'kot', -10.75, 3.14, 'zebra']

#### Dodawanie kolejnych elementów na i-tym indeksie

* lub na i-tym indeksie

In [29]:
lista = [1, "Berta", 3, 4, -5, "kot", -10.75, 3.14]
lista.insert(2, "zebra")
print(lista)

[1, 'Berta', 'zebra', 3, 4, -5, 'kot', -10.75, 3.14]

#### Python jest językiem obiektowym

* Notacja `lista.metoda()` (np.: `lista.sort()`, `lista.append()`) jest przykładem programowania obiektowego (OOP = _Object Oriented Programming_), ponieważ obiekt jakim jest lista ma zdefiniowaną funkcję dostępną przez notację `..` 
* Sprawdzić wszystkie metody można w `Ipython` używając autokompletowania (Tab)

#### Lista użytecznych metod

* Lista ma wiele użytecznych metod
  * `.append(x)` – dodaje `x` do listy
  * `.remove(x)` – usuwa pierwszy `x` z listy
  * `.pop()` – usuwa i zwraca ostatni element listy
  * `.insert(i, x)` – wstawia `x` przed indeksem `i`
  * `.extend(x)` – dodaje na koniec listy dodatkową zmienną iterowalną `x`
  * `.count(x)` – zwraca ilość wystąpień `x` 
  * `.index(x)` – zwraca indeks pierwszego wystąpienia `x`
  * `.sort()` – sortuje listę rosnąco
  * `.reverse()` – sortuje listę w odwróconym porządku

In [ ]:
lista1 = [1, 2, 3, 4, 1, 2]
y = lista1.remove(2)
print(lista1)
print(y)

lista1 = [1, 2, 3, 4, 1, 2, "ala", "ma"]
x = lista1.pop()
print(lista1)
print(x)

lista1.insert(1, "zebra")
print(lista1)

lista1.extend(["33", 33])
print(lista1)

len2 = lista1.count(1)
print(len2)

idx33 = lista1.index(33)
print(idx33)

lista2 = [2, 4, 5 ,7 ,2,4 ,1, 5]
lista2.sort()

print(lista2)

[1, 3, 4, 1, 2]
None
[1, 2, 3, 4, 1, 2, 'ala']
ma
[1, 'zebra', 2, 3, 4, 1, 2, 'ala']
[1, 'zebra', 2, 3, 4, 1, 2, 'ala', '33', 33]
2
9
[1, 2, 2, 4, 4, 5, 5, 7]

#### Funkcje działające na sekwencjach

* Funkcje działające na sekwencjach (listach, ciągach znaków oraz krotkach)
  * `len()` – zwraca ilość elementów
  * `reversed()` – zwraca obiekt zawierający odwróconą sekwencję
  * `sorted(lista)` – zwraca kopię listy posortowanej rosnąco
  * `sorted(lista, reverse=True)` – zwraca kopię listy w odwrotnym porządku
  * `enumerate()` – zwraca obiekt zawierający indeksy i elementy sekwencji

In [42]:
lista1 = [1, 2, 3, 2, 1]

lista1.sort()
print(lista1)

[1, 1, 2, 2, 3]

In [30]:
lista1 = [1, 2, 3, 4, 1, 2]
lista2 = sorted(lista1)

print(lista2)
print(lista1)

[1, 1, 2, 2, 3, 4]
[1, 2, 3, 4, 1, 2]

#### Ćwiczenie nr 5:

* Utwórz listę zawierającą imiona wszystkich kursantów
* Następnie ją posortuj alfabetycznie, oraz
* Sprawdź ile elementów ona zawiera
* wyświetl listę i jej długość

In [31]:
kursanci = ["Ala", "Jacek", "Sebek", "Zenon", "Andrzej", "Grażyna", "Max" ]
kursanci_sort = sorted(kursanci)
liczba_kurs = len(kursanci_sort)
print(liczba_kurs)
print(kursanci_sort)

7
['Ala', 'Andrzej', 'Grażyna', 'Jacek', 'Max', 'Sebek', 'Zenon']

In [32]:
lista_imion = ["Iza", "Ania", "Marek", "Krzysiek"]
# print(lista_imion)
lista_imion.sort()
print(lista_imion)
print(len(lista_imion))

['Ania', 'Iza', 'Krzysiek', 'Marek']
4

In [33]:
imiona=["Ala", "Basia", "Cyryl", "Daniel", "Adam", "Błażej", "Celina", "Danuta"]
print(imiona)
imiona_alf = sorted(imiona)
print(imiona_alf)
print(len(imiona_alf))

['Ala', 'Basia', 'Cyryl', 'Daniel', 'Adam', 'Błażej', 'Celina', 'Danuta']
['Adam', 'Ala', 'Basia', 'Błażej', 'Celina', 'Cyryl', 'Daniel', 'Danuta']
8

In [55]:
list_ = ['kamil', 'martyna', 'przemek', 'piotrek', 'ines', 'iza']
list_sorted = sorted(list_)
print(list_sorted)
ilosc_elementow = len(list_sorted)
print(ilosc_elementow)
print('Lista:', list_sorted)
print('Długość listy:', len(list_sorted))

['ines', 'iza', 'kamil', 'martyna', 'piotrek', 'przemek']
6
Lista: ['ines', 'iza', 'kamil', 'martyna', 'piotrek', 'przemek']
Długość listy: 6

In [ ]:
lista = ['Kamil' , 'Kasia', 'Marta', 'Zosia', 'Anna']
lista2 = sorted(lista)
print(lista2)
lista3 = len(lista)
print(lista3)
lista4 = enumerate(lista)
print(lista4)
lista5 = sorted(lista, reverse=True)

['Anna', 'Kamil', 'Kasia', 'Marta', 'Zosia']
5
<enumerate object at 0x1244298c0>

In [36]:
kurs = ["Przemek", "Michał", "Natalia", "Grzesiek", "Iza", "Kamil", "Martyna", "Kasia", "Marta", "Krzysztof"]
posortowani = sorted(kurs)
print("Posortowana lista (sorted):", posortowani)
kurs.sort()
print("Posortowana lista (sort):", kurs)
długosc = len(kurs)
print("Długość listy:", długosc)

Posortowana lista (sorted): ['Grzesiek', 'Iza', 'Kamil', 'Kasia', 'Krzysztof', 'Marta', 'Martyna', 'Michał', 'Natalia', 'Przemek']
Posortowana lista (sort): ['Grzesiek', 'Iza', 'Kamil', 'Kasia', 'Krzysztof', 'Marta', 'Martyna', 'Michał', 'Natalia', 'Przemek']
Długość listy: 10

In [38]:
imiona = ['Natalia', 'Kamil', 'Patryk', 'Michał']
imiona.sort()
dlugosc_listy = len(imiona)
print("Posortowana lista imion:", imiona)
print("Liczba kursantów:", dlugosc_listy)

Posortowana lista imion: ['Kamil', 'Michał', 'Natalia', 'Patryk']
Liczba kursantów: 4

## Słownik _ang. dictionary_

In [ ]:
slownik = {"ala": "kot", "ola": 1, 2: True}
print(slownik)
print(type(slownik))

print(slownik["ala"])
print(slownik[2])

slownik["ala"] = 20
slownik["ma"] = 500

print(slownik)

* Funkcje (metody):
  * `slownik.keys()`
  * `slownik.values()`
  * `slownik.items()`

In [48]:
tel = {} # pusty słownik
print(type(tel))
tel = {'Maja': 500456 , 'Jasio': 343455}
print(tel)

<class 'dict'>
{'Maja': 500456, 'Jasio': 343455}

In [49]:
tel['Ola'] = 3024127
print(tel)

tel['Kowalski'] = 42523
tel['Ola'] = True
print(tel)

{'Maja': 500456, 'Jasio': 343455, 'Ola': 3024127}
{'Maja': 500456, 'Jasio': 343455, 'Ola': True, 'Kowalski': 42523}

In [50]:
del tel['Maja']
print(tel)

tel["Ola"] = None
print(tel)

{'Jasio': 343455, 'Ola': True, 'Kowalski': 42523}
{'Jasio': 343455, 'Ola': None, 'Kowalski': 42523}

In [ ]:
tel = dict([('Jan', 4139277), ('Kazimierz', 4126327)])
tel = dict()

print(tel)

{}

In [52]:
payments = {"pay1": 12313, "pay2": 534875324, "pay3": {"1":2, "2": 34}}

x = payments["pay3"]

print(x)


print(payments.keys())
print(payments.values())
print(payments.items())

{'1': 2, '2': 34}
dict_keys(['pay1', 'pay2', 'pay3'])
dict_values([12313, 534875324, {'1': 2, '2': 34}])
dict_items([('pay1', 12313), ('pay2', 534875324), ('pay3', {'1': 2, '2': 34})])

## Zbiór _ang. set_

In [ ]:
zbior = {"ala", "kot", 1, 2.89, 1, 1}
print(zbior)
x = "aldasdasd" in zbior
y = "ala" in zbior

print(x)
print(y)

lista2 = [2 ,1 ,2 ,3, 5 ,3, 1]
z = list(set(lista2))
print(z)
zbior.add("ma")
print(zbior)
zbior.update(["masdasdsada", "ma"])
print(zbior)

{1, 2.89, 'ala', 'kot'}
False
True
[1, 2, 3, 5]
{1, 2.89, 'ma', 'kot', 'ala'}
{1, 2.89, 'masdasdsada', 'ma', 'kot', 'ala'}

In [27]:
x = {1, 2 ,3 ,4}
y = {3, 4, 5, 6}

print(x)
print(y)

print(x ^ y)

{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2, 5, 6}

* Operacje na zbiorach:
  * sprawdzenie czy `element` należy do zbioru:\
  `zbior: element in zbior`
  * sprawdzenie czy `element` nie należy do zbioru:\
  `zbior: element not in zbior`
  * odejmowanie od siebie zbiorów:\
  `c = a - b`
  * dodawanie do siebie zbiorów:\
  `c = a | b`
  * część wspólna zbiorów:\
  `c = a & b`
  * część rozłączna zbiorów:\
  `c = a ^ b`

In [38]:
print(1 not in zbior)

zb = {1, 2, 3 ,4, 3, 5}
zb2 = {1, 2, 8}

print(zb ^ zb2)
print(zb & zb2)
print(zb - zb2)
print(zb | zb2)

False
{3, 4, 5, 8}
{1, 2}
{3, 4, 5}
{1, 2, 3, 4, 5, 8}

In [1]:
payments_list = [1, 2, 3, 4, 5, 2, 3, 3, 1, 2, 7, 8]
pay_no_d = list(set(payments_list))
print(pay_no_d)

[1, 2, 3, 4, 5, 7, 8]

In [2]:
pay1_response = [12, 13, 14, 15]
pay2_response = [13, 14, 15, 16, 17]
pay3_response = [11, 13, 14, 18, 20]

result = list(set(pay1_response) & set(pay2_response) & set(pay3_response)) #{13, 14}
print(result)

[13, 14]

## Krotka _ang. Tuple_

In [3]:
krotka = (1, 2, 3, 4, 5)
print(krotka)
print(type(krotka))

(1, 2, 3, 4, 5)
<class 'tuple'>

* Krotka jest niezmienialna

In [31]:
krotka[2] = 5

TypeError: 'tuple' object does not support item assignment

In [4]:
li = list(krotka)
print(li)

[1, 2, 3, 4, 5]

## Sposoby wyświetlania danych, tekst + zmienne w print()

In [ ]:
age = 21
""" Text to print: Masz <age> lat."""

print("Masz " + str(age) + " lat.")    # konkatenacja ze zmianą typu
print("Masz {} lat.".format(age))      # .format()
print(f"Masz {age} lat!")              # f string
print(f"Masz {age / 2} lat!")          # f string

Masz 21 lat.
Masz 21 lat.
Masz 21 lat!
Masz 10.5 lat!